.header-dark {
  background-color: #f5f5f5 !important;
}

.header-dark .header-logo-wordmark,
.header-dark .header-logo-invertocat,
.header-dark .header-nav-link {
  color: #555 !important;
}
.header-dark .header-nav-link:hover .dropdown-caret,
.header-dark .header-nav-link:focus .dropdown-caret {
  border-top-color: #4078c0 !important;
}

.header-dark .header-search-wrapper {
  background-color: #fff !important;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075) !important;
  border: 1px solid #ddd !important;
  color: #333 !important;
}

.header-dark .header-search-scope {
  color: #767676 !important;
  border-right: 1px solid #eee !important;
}

::-webkit-input-placeholder { color:#999 !important; }
::-moz-placeholder { color:#999 !important; }
:-ms-input-placeholder { color:#999 !important; }
::placeholder { color:#999 !important; }
